{% extends 'base.html' %}

{% block title %} Анкета {% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

{% load static %}


<div class="container">
        {% with 'instructions/'|add:respondent_strtype|add:'.docx' as respondent_strtype %}
            <p>Пожалуйста, ознакомьтесь с <a href="{% static respondent_strtype %}">инструкцией</a> по заполнению анкеты.</p>
        {% endwith %}
    <!--<form id="sendmail" action="{% url 'graduates:sendmail' respondent_strtype respondent_id %}" method="post" >-->
      <!--{% csrf_token %}-->
      <!--<div class="form-group">-->
        <!--<label for="respondentmail">Введите Ваш адрес электронной почты:</label>-->
        <!--<input type="email" class="form-control" id="respondentmail" name="respondentmail" aria-describedby="emailHelp" placeholder="Введите адрес электронной почты">-->
        <!--<small id="emailHelp" class="form-text text-muted">На указанный Вами адрес электронной почты будет выслана ссылка для прохождения опроса</small>-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
    <!--</form>-->

<form action="{% url 'graduates:sendmail' respondent_strtype respondent_id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="respondentmail">Введите Ваш адрес электронной почты:</label>
    {{ form.as_p }}
        <button class="btn btn-light btn-sm captcha-refresh"><i class="fas fa-sync-alt" style="cursor:pointer;"></i> Обновить картинку</button>
    <small id="emailHelp" class="form-text text-muted">На указанный Вами адрес электронной почты будет выслана ссылка для прохождения опроса</small>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

</div>

<script type="text/javascript">
$(document).ready(function() {
    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/captcha/refresh/";

        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });

        return false;
    });
});

</script>



{% endblock %}