{% if respondent_type == 1 %}
    <h1 class="display-5">Анкета для сбора сведений о трудоустройстве - выпускники</h1>
    <hr class="my-3">
    <p>Предлагаем Вам принять участие в анкетировании, целью которого является оценка трудоустройства выпускников профессиональных образовательных организаций, реализующих образовательные программы среднего профессионального образования, по профессии (специальности)</p>
{% elif respondent_type == 2 %}
    <h1 class="display-5">Анкета для сбора сведений о трудоустройстве - работодатели</h1>
    <hr class="my-3">
    <p>Предлагаем Вам принять участие в анкетировании, целью которого является оценка трудоустройства выпускников профессиональных образовательных организаций системы среднего профессионального образования по профессии (специальности)</p>
{% elif respondent_type == 3  %}
    <h1 class="display-5">Анкета для сбора сведений о трудоустройстве - организации, осуществляющие подготовку по программам среднего профессионального образования</h1>
    <hr class="my-3">
    <p>Предлагаем Вам принять участие в анкетировании, целью которого является оценка трудоустройства выпускников профессиональных образовательных организаций по профессии (специальности)</p>
{% endif %}